/* BASE */
/* THEME */
/* SET DEFAULT COLORS AND STYLES */
/* line 11, scss/theme.scss */
.base-bg {
  background-color: #3399ff;
}

/* line 14, scss/theme.scss */
.base {
  color: #3399ff;
}

/* line 17, scss/theme.scss */
.accent-bg {
  background-color: white;
}

/* line 20, scss/theme.scss */
.accent {
  color: white;
}

/* line 23, scss/theme.scss */
.light-bg {
  background-color: #aaaaaa;
}

/* line 26, scss/theme.scss */
.light {
  color: #aaaaaa;
}

/* SET FONTS */
/* line 5, scss/base.scss */
* {
  font-family: "Lato";
  font-weight: 300;
}

/* line 9, scss/base.scss */
h1, h2, h3, h4, h5, h6, header {
  font-family: "Merienda";
}

/* SET DEFAULT EM SIZE */
/* line 14, scss/base.scss */
body, * {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 21, scss/base.scss */
a {
  text-decoration: none;
}

/* line 24, scss/base.scss */
a:hover {
  text-decoration: none;
}

/* MONITOR */
@media screen and (min-width: 1825px) {
  /* SET FONT SIZES */
  /* line 36, scss/base.scss */
  header {
    font-size: 144px;
  }

  /* line 39, scss/base.scss */
  h1 {
    font-size: 48px;
  }

  /* line 42, scss/base.scss */
  h2 {
    font-size: 30px;
  }

  /* line 45, scss/base.scss */
  h3 {
    font-size: 24px;
  }

  /* line 48, scss/base.scss */
  h4 {
    font-size: 20px;
  }

  /* line 51, scss/base.scss */
  h5 {
    font-size: 18px;
  }

  /* line 54, scss/base.scss */
  h6 {
    font-size: 16px;
  }

  /* line 57, scss/base.scss */
  p, a {
    font-size: 18px;
  }

  /* line 60, scss/base.scss */
  blockquote, figcaption {
    font-size: 18px;
    font-style: italic;
  }

  /* line 64, scss/base.scss */
  table {
    width: 100%;
    overflow: scroll;
  }

  /* line 68, scss/base.scss */
  thead th {
    font-size: 20px;
    border-bottom: 1px solid #aaaaaa;
    padding: 0.25em;
  }

  /* line 73, scss/base.scss */
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }

  /* line 76, scss/base.scss */
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
}
/* DESKTOP */
@media screen and (max-width: 1824px) and (min-width: 1225px) {
  /* SET FONT SIZES */
  /* line 92, scss/base.scss */
  header {
    font-size: 144px;
  }

  /* line 95, scss/base.scss */
  h1 {
    font-size: 48px;
  }

  /* line 98, scss/base.scss */
  h2 {
    font-size: 30px;
  }

  /* line 101, scss/base.scss */
  h3 {
    font-size: 24px;
  }

  /* line 104, scss/base.scss */
  h4 {
    font-size: 20px;
  }

  /* line 107, scss/base.scss */
  h5 {
    font-size: 18px;
  }

  /* line 110, scss/base.scss */
  h6 {
    font-size: 16px;
  }

  /* line 113, scss/base.scss */
  p, a {
    font-size: 18px;
  }

  /* line 116, scss/base.scss */
  blockquote, figcaption {
    font-size: 18px;
    font-style: italic;
  }

  /* line 120, scss/base.scss */
  table {
    width: 100%;
    overflow: scroll;
  }

  /* line 124, scss/base.scss */
  thead th {
    font-size: 20px;
    border-bottom: 1px solid #aaaaaa;
    padding: 0.25em;
  }

  /* line 129, scss/base.scss */
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }

  /* line 132, scss/base.scss */
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
}
/* LAPTOP */
@media screen and (max-width: 1224px) and (min-width: 991px) {
  /* SET FONT SIZES */
  /* line 148, scss/base.scss */
  header {
    font-size: 144px;
  }

  /* line 151, scss/base.scss */
  h1 {
    font-size: 48px;
  }

  /* line 154, scss/base.scss */
  h2 {
    font-size: 30px;
  }

  /* line 157, scss/base.scss */
  h3 {
    font-size: 24px;
  }

  /* line 160, scss/base.scss */
  h4 {
    font-size: 20px;
  }

  /* line 163, scss/base.scss */
  h5 {
    font-size: 18px;
  }

  /* line 166, scss/base.scss */
  h6 {
    font-size: 16px;
  }

  /* line 169, scss/base.scss */
  p, a {
    font-size: 18px;
  }

  /* line 172, scss/base.scss */
  blockquote, figcaption {
    font-size: 18px;
    font-style: italic;
  }

  /* line 176, scss/base.scss */
  table {
    width: 100%;
    overflow: scroll;
  }

  /* line 180, scss/base.scss */
  thead th {
    font-size: 20px;
    border-bottom: 1px solid #aaaaaa;
    padding: 0.25em;
  }

  /* line 185, scss/base.scss */
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }

  /* line 188, scss/base.scss */
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
}
/* TABLET */
@media screen and (max-width: 990px) and (min-width: 481px) {
  /* SET FONT SIZES */
  /* line 204, scss/base.scss */
  header {
    font-size: 144px;
  }

  /* line 207, scss/base.scss */
  h1 {
    font-size: 48px;
  }

  /* line 210, scss/base.scss */
  h2 {
    font-size: 30px;
  }

  /* line 213, scss/base.scss */
  h3 {
    font-size: 24px;
  }

  /* line 216, scss/base.scss */
  h4 {
    font-size: 20px;
  }

  /* line 219, scss/base.scss */
  h5 {
    font-size: 18px;
  }

  /* line 222, scss/base.scss */
  h6 {
    font-size: 16px;
  }

  /* line 225, scss/base.scss */
  p, a {
    font-size: 18px;
  }

  /* line 228, scss/base.scss */
  blockquote, figcaption {
    font-size: 18px;
    font-style: italic;
  }

  /* line 232, scss/base.scss */
  table {
    width: 100%;
    overflow: scroll;
  }

  /* line 236, scss/base.scss */
  thead th {
    font-size: 20px;
    border-bottom: 1px solid #aaaaaa;
    padding: 0.25em;
  }

  /* line 241, scss/base.scss */
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }

  /* line 244, scss/base.scss */
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
}
/* MOBILE */
@media screen and (max-width: 480px) {
  /* SET FONT SIZES */
  /* line 260, scss/base.scss */
  header {
    font-size: 80px;
  }

  /* line 263, scss/base.scss */
  h1 {
    font-size: 40px;
  }

  /* line 266, scss/base.scss */
  h2 {
    font-size: 32px;
  }

  /* line 269, scss/base.scss */
  h3 {
    font-size: 16px;
  }

  /* line 272, scss/base.scss */
  h4 {
    font-size: 14px;
  }

  /* line 275, scss/base.scss */
  h5 {
    font-size: 12px;
  }

  /* line 278, scss/base.scss */
  h6 {
    font-size: 10px;
  }

  /* line 281, scss/base.scss */
  p, a {
    font-size: 14px;
  }

  /* line 284, scss/base.scss */
  blockquote, figcaption {
    font-size: 10px;
    font-style: italic;
  }

  /* line 288, scss/base.scss */
  table {
    width: 100%;
    overflow: scroll;
  }

  /* line 292, scss/base.scss */
  thead th {
    font-size: 20px;
    border-bottom: 1px solid #aaaaaa;
    padding: 0.25em;
  }

  /* line 297, scss/base.scss */
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }

  /* line 300, scss/base.scss */
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
}
