/* BASE */
@import "theme.scss";

/* SET FONTS */
* {
  font-family: $accent-font;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6, header {
  font-family: $base-font;
}

/* SET DEFAULT EM SIZE */
body, * {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}





/* MONITOR */
@media screen and (min-width: 1825px) {

  /* SET FONT SIZES */
  header {
    font-size: 144px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  p, a {
    font-size: 18px;
  }
  blockquote, figcaption {
    font-size: 18px;
    font-style: italic;
  }
  table {
    width: 100%;
    overflow: scroll;
  }
  thead th {
    font-size: 20px;
    border-bottom: 1px solid $light;
    padding: 0.25em;
  }
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
  dialog {
    border: 3px solid $base;
    box-shadow: 10px 10px 15px #222;
  }
  details {
    font-weight: 200;
    font-style: italic;
  }
  code {
    background-color: #1d1f20;
    font-family: monospace;
  }
  cite {
    font-style: italic;
  }
  caption {
    font-size: 12px;
  }
  canvas {
    width: 100%;
  }
  br {
    padding: 0.5em;
  }
  blockquote {
    border-left: 5px solid #ddd;
    padding: 0.5em;
    font-style: italic;
  }
  audio {
    display: inline;
  }
  em {
    font-style: italic;
  }
  embed {
    width: 100%;
  }
  fieldset {
    font-size: 10px;
  }
  footer {
    width: 100%;
  }
  form {
    width: 100%;
  }
  label {
    font-size: 12px;
    font-style: italic;
  }
  legend {
    font-size: 16px;
  }
  span {
    display: inline;
  }
  strong {
    font-weight: 600;
  }
  textarea {
    padding: 0;
  }
  video {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
  }

}





/* DESKTOP */
@media screen and (max-width: 1824px) and (min-width: 1225px) {

  /* SET FONT SIZES */
  header {
    font-size: 144px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  p, a {
    font-size: 18px;
  }
  blockquote, figcaption {
    font-size: 18px;
    font-style: italic;
  }
  table {
    width: 100%;
    overflow: scroll;
  }
  thead th {
    font-size: 20px;
    border-bottom: 1px solid $light;
    padding: 0.25em;
  }
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
  dialog {
    border: 3px solid $base;
    box-shadow: 10px 10px 15px #222;
  }
  details {
    font-weight: 200;
    font-style: italic;
  }
  code {
    background-color: #1d1f20;
    font-family: monospace;
  }
  cite {
    font-style: italic;
  }
  caption {
    font-size: 12px;
  }
  canvas {
    width: 100%;
  }
  br {
    padding: 0.5em;
  }
  blockquote {
    border-left: 5px solid #ddd;
    padding: 0.5em;
    font-style: italic;
  }
  audio {
    display: inline;
  }
  em {
    font-style: italic;
  }
  embed {
    width: 100%;
  }
  fieldset {
    font-size: 10px;
  }
  footer {
    width: 100%;
  }
  form {
    width: 100%;
  }
  label {
    font-size: 12px;
    font-style: italic;
  }
  legend {
    font-size: 16px;
  }
  span {
    display: inline;
  }
  strong {
    font-weight: 600;
  }
  textarea {
    padding: 0;
  }
  video {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
  }

}





/* LAPTOP */
@media screen and (max-width: 1224px) and (min-width: 991px) {

  /* SET FONT SIZES */
  header {
    font-size: 144px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  p, a {
    font-size: 18px;
  }
  blockquote, figcaption {
    font-size: 18px;
    font-style: italic;
  }
  table {
    width: 100%;
    overflow: scroll;
  }
  thead th {
    font-size: 20px;
    border-bottom: 1px solid $light;
    padding: 0.25em;
  }
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
  dialog {
    border: 3px solid $base;
    box-shadow: 10px 10px 15px #222;
  }
  details {
    font-weight: 200;
    font-style: italic;
  }
  code {
    background-color: #1d1f20;
    font-family: monospace;
  }
  cite {
    font-style: italic;
  }
  caption {
    font-size: 12px;
  }
  canvas {
    width: 100%;
  }
  br {
    padding: 0.5em;
  }
  blockquote {
    border-left: 5px solid #ddd;
    padding: 0.5em;
    font-style: italic;
  }
  audio {
    display: inline;
  }
  em {
    font-style: italic;
  }
  embed {
    width: 100%;
  }
  fieldset {
    font-size: 10px;
  }
  footer {
    width: 100%;
  }
  form {
    width: 100%;
  }
  label {
    font-size: 12px;
    font-style: italic;
  }
  legend {
    font-size: 16px;
  }
  span {
    display: inline;
  }
  strong {
    font-weight: 600;
  }
  textarea {
    padding: 0;
  }
  video {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
  }

}





/* TABLET */
@media screen and (max-width: 990px) and (min-width: 481px) {

  /* SET FONT SIZES */
  header {
    font-size: 144px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  p, a {
    font-size: 18px;
  }
  blockquote, figcaption {
    font-size: 18px;
    font-style: italic;
  }
  table {
    width: 100%;
    overflow: scroll;
  }
  thead th {
    font-size: 20px;
    border-bottom: 1px solid $light;
    padding: 0.25em;
  }
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
  dialog {
    border: 3px solid $base;
    box-shadow: 10px 10px 15px #222;
  }
  details {
    font-weight: 200;
    font-style: italic;
  }
  code {
    background-color: #1d1f20;
    font-family: monospace;
  }
  cite {
    font-style: italic;
  }
  caption {
    font-size: 12px;
  }
  canvas {
    width: 100%;
  }
  br {
    padding: 0.5em;
  }
  blockquote {
    border-left: 5px solid #ddd;
    padding: 0.5em;
    font-style: italic;
  }
  audio {
    display: inline;
  }
  em {
    font-style: italic;
  }
  embed {
    width: 100%;
  }
  fieldset {
    font-size: 10px;
  }
  footer {
    width: 100%;
  }
  form {
    width: 100%;
  }
  label {
    font-size: 12px;
    font-style: italic;
  }
  legend {
    font-size: 16px;
  }
  span {
    display: inline;
  }
  strong {
    font-weight: 600;
  }
  textarea {
    padding: 0;
  }
  video {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
  }

}





/* MOBILE */
@media screen and (max-width: 480px) {

  /* SET FONT SIZES */
  header {
    font-size: 80px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
  p, a {
    font-size: 14px;
  }
  blockquote, figcaption {
    font-size: 10px;
    font-style: italic;
  }
  table {
    width: 100%;
    overflow: scroll;
  }
  thead th {
    font-size: 20px;
    border-bottom: 1px solid $light;
    padding: 0.25em;
  }
  tbody tr:nth-of-type(even) {
    background-color: #efefef;
  }
  td {
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
  }
  dialog {
    border: 3px solid $base;
    box-shadow: 10px 10px 15px #222;
  }
  details {
    font-weight: 200;
    font-style: italic;
  }
  code {
    background-color: #1d1f20;
    font-family: monospace;
  }
  cite {
    font-style: italic;
  }
  caption {
    font-size: 12px;
  }
  canvas {
    width: 100%;
  }
  br {
    padding: 0.5em;
  }
  blockquote {
    border-left: 5px solid #ddd;
    padding: 0.5em;
    font-style: italic;
  }
  audio {
    display: inline;
  }
  em {
    font-style: italic;
  }
  embed {
    width: 100%;
  }
  fieldset {
    font-size: 10px;
  }
  footer {
    width: 100%;
  }
  form {
    width: 100%;
  }
  label {
    font-size: 12px;
    font-style: italic;
  }
  legend {
    font-size: 16px;
  }
  span {
    display: inline;
  }
  strong {
    font-weight: 600;
  }
  textarea {
    padding: 0;
  }
  video {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
  }

}
