/* THEME */

/* SET DEFAULT COLORS AND STYLES */
$base: #3399ff;
$accent: #fff;
$light: #aaa;

$base-font: Merienda;
$accent-font: Lato;

.base-bg {
  background-color: $base;
}
.base {
  color: $base;
}
.accent-bg {
  background-color: $accent;
}
.accent {
  color: $accent;
}
.light-bg {
  background-color: $light;
}
.light {
  color: $light;
}
