/* MODULES */
@import "theme.scss";





/* MONITOR (LG) */
@media screen and (min-width: 1825px) {



}





/* DESKTOP (LG) */
@media screen and (max-width: 1824px) and (min-width: 1225px) {

  /* NAVIGATION BAR, NAVIGATION LAYOUT */
  .navbar-initial {
    height: 7em;
    padding: 1em;
    background-color: $accent;
    transition: height 0.5s ease, padding 0.5s ease, background-color 0.5s ease;
    a {
      color: $base;
      transition: color 0.5s ease;
    }
  }
  nav {
    height: 5em;
    width: 100%;
    z-index: 10000;
    transition: height 0.5s ease, padding 0.5s ease, background-color 0.5s ease;
    a {
      transition: color 0.5s ease;
    }
  }
  .nav-shadow {
    box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.7);
  }
  .navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0
  }
  .nav-center {
    width: 33%;
    margin: auto;
    display: block;
  }
  .nav-left {
    width: 33%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin-left: 3em;
  }
  .nav-right {
    width: 33%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    margin-right: 3em;
  }
  .nav-links {
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .nav-links li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
  }
  .nav-header {
    font-size: 48px;
    font-family: $base-font;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* TEXT CLASSES */
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }

  /* BUTTONS */
  .lg-btn_xs {
    padding: 0.15em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_xs:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_sm {
    padding: 0.25em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_sm:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_md {
    padding: 0.5em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_md:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_lg {
    padding: 0.75em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_lg:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_lg {
    padding: 0.75em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .lg-btn_lg:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .base-btn {
    background-color: $base;
    color: $accent;
    border: 2px solid $accent;
  }
  .base-btn:hover {
    background-color: $accent;
    color: $base;
    cursor: pointer;
  }

  /* CUSTOM ANGLES */
  @mixin angled-section($pseudo, $flip: false, $angle: 1.5deg) {
    @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
      position: relative;
      z-index: 1;
      $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

      #{$selector} {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
      }

      @if $pseudo == 'before' {
        #{$selector} {
          top: 0;

          @if $flip {
            transform: skewY($angle * -1);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle);
            transform-origin: 100% 0;
          }
        }
      }

      @if $pseudo == 'after' {
        #{$selector} {
          bottom: 0;

          @if $flip {
            transform: skewY($angle);
            transform-origin: 0 100%;
          } @else {
            transform: skewY($angle * -1);
            transform-origin: 100%;
          }
        }
      }

      @if $pseudo == 'both' {
        &:before {
          top: 0;

          @if $flip {
            transform: skewY($angle * -1);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle);
            transform-origin: 100% 0;
          }
        }

        &:after {
          bottom: 0;

          @if $flip {
            transform: skewY($angle);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle * -1);
            transform-origin: 100%;
          }
        }
      }
    }
  }

  .lg-angled-top-left {
    @include angled-section(before);
  }
  .lg-angled-top-right {
    @include angled-section(before, true);
  }
  .lg-angled-bottom-right {
    @include angled-section(after);
  }
  .lg-angled-bottom-left {
    @include angled-section(after, true);
  }

  /* SHADOW SETTINGS */
  .lg-inset-shadow-bottom_xs {
    box-shadow: inset 0px -5px 30px 0px rgba(50, 50, 50, 0.7);
  }
  .lg-inset-shadow-bottom_sm {
    box-shadow: inset 0px -15px 40px 0px rgba(50, 50, 50, 0.7);
  }
  .lg-inset-shadow-bottom_md {
    box-shadow: inset 0px -20px 50px 0px rgba(50, 50, 50, 0.7);
  }
  .lg-inset-shadow-bottom_lg {
    box-shadow: inset 0px -25px 50px 0px rgba(50, 50, 50, 0.7);
  }
  .lg-inset-shadow-top_xs {
    box-shadow: inset 0px -5px 30px 0px rgba(50, 50, 50, 0.7);
  }
  .lg-inset-shadow-top_sm {
    box-shadow: inset 0px 15px 40px 0px rgba(50, 50, 50, 0.7);
  }
  .lg-inset-shadow-top_md {
    box-shadow: inset 0px 20px 50px 0px rgba(50, 50, 50, 0.7);
  }
  .lg-inset-shadow-top_lg {
    box-shadow: inset 0px 25px 50px 0px rgba(50, 50, 50, 0.7);
  }
  .lg-inset-shadow_xs {
    box-shadow: inset 0px 1px 90px -14px rgba(0,0,0,0.75);
  }
  .lg-inset-shadow_sm {
    box-shadow: inset 0px 2px 100px -14px rgba(0,0,0,0.75);
  }
  .lg-inset-shadow_md {
    box-shadow: inset 0px 2px 111px -14px rgba(0,0,0,0.75);
  }
  .lg-inset-shadow_lg {
    box-shadow: inset 0px 2px 187px 11px rgba(0,0,0,0.75);
  }

  /* DISPLAY SETTINGS */
  .lg-block {
    display: block;
  }
  .lg-inline-block {
    display: inline-block;
  }
  .lg-inline {
    display: inline;
  }

  /* ALIGNMENT */
  .lg-vertical-align {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
  }

  /* ICON SIZES */
  .lg-icon_xs {
    font-size: 24px;
  }
  .lg-icon_sm {
    font-size: 48px;
  }
  .lg-icon_md {
    font-size: 56px;
  }
  .lg-icon_lg {
    font-size: 96px;
  }

  /* SPACERS */
  .lg-spacer_xs {
    height: 0;
    color: none;;
    background-color: none;
    width: 100%;
    height: 1em;
  }
  .lg-spacer_sm {
    height: 0;
    color: none;;
    background-color: none;
    width: 100%;
    height: 3em;
  }
  .lg-spacer_md {
    height: 0;
    color: none;;
    background-color: none;
    width: 100%;
    height: 7em;
  }
  .lg-spacer_lg {
    height: 0;
    color: none;;
    background-color: none;
    width: 100%;
    height: 10em;
  }

  /* DIVIDERS */
  .lg-divider_xs {
    width: 3em;
    margin: auto;
    display: block;
    height: 3px;
  }
  .lg-divider_sm {
    width: 5em;
    margin: auto;
    display: block;
    height: 3px;
  }
  .lg-divider_md {
    width: 10em;
    margin: auto;
    display: block;
    height: 3px;
  }
  .lg-divider_lg {
    width: 20em;
    margin: auto;
    display: block;
    height: 3px;
  }

  /* RULER DIVIDERS */
  .lg-ruler-divider_xs {
    width: 45%;
    margin: auto;
    display: block;
    height: 1px;
  }
  .lg-ruler-divider_sm {
    width: 65%;
    margin: auto;
    display: block;
    height: 1px;
  }
  .lg-ruler-divider_md {
    width: 90%;
    margin: auto;
    display: block;
    height: 1px;
  }
  .lg-ruler-divider_lg {
    width: 100%;
    margin: auto;
    display: block;
    height: 1px;
    filter: opacity(0.5);
  }

  /* PADDING */
  .lg-no-padding {
    padding: 0;
  }
  .lg-padding_xs {
    padding: 0.5em;
  }
  .lg-padding_sm {
    padding: 1em;
  }
  .lg-padding_md {
    padding: 3em;
  }
  .lg-padding_lg {
    padding: 5em;
  }
  .lg-padding-top_xs {
    padding-top: 0.5em;
  }
  .lg-padding-top_sm {
    padding-top: 1em;
  }
  .lg-padding-top_md {
    padding-top: 3em;
  }
  .lg-padding-top_lg {
    padding-top: 5em;
  }
  .lg-padding-left_xs {
    padding-left: 0.5em;
  }
  .lg-padding-left_sm {
    padding-left: 1em;
  }
  .lg-padding-left_md {
    padding-left: 3em;
  }
  .lg-padding-left_lg {
    padding-left: 5em;
  }
  .lg-padding-bottom_xs {
    padding-bottom: 0.5em;
  }
  .lg-padding-bottom_sm {
    padding-bottom: 1em;
  }
  .lg-padding-bottom_md {
    padding-bottom: 3em;
  }
  .lg-padding-bottom_lg {
    padding-bottom: 5em;
  }
  .lg-padding-right_xs {
    padding-right: 0.5em;
  }
  .lg-padding-right_sm {
    padding-right: 1em;
  }
  .lg-padding-right_md {
    padding-right: 3em;
  }
  .lg-padding-right_lg {
    padding-right: 5em;
  }

  /* MARGIN */
  .lg-no-margin {
    margin: 0;
  }
  .lg-margin-auto {
    margin: auto;
  }
  .lg-margin_xs {
    margin: 0.5em;
  }
  .lg-margin_sm {
    margin: 1em;
  }
  .lg-margin_md {
    margin: 3em;
  }
  .lg-margin_lg {
    margin: 5em;
  }
  .lg-margin-top_xs {
    margin-top: 0.5em;
  }
  .lg-margin-top_sm {
    margin-top: 1em;
  }
  .lg-margin-top_md {
    margin-top: 3em;
  }
  .lg-margin-top_lg {
    margin-top: 5em;
  }
  .lg-margin-left_xs {
    margin-left: 0.5em;
  }
  .lg-margin-left_sm {
    margin-left: 1em;
  }
  .lg-margin-left_md {
    margin-left: 3em;
  }
  .lg-margin-left_lg {
    margin-left: 5em;
  }
  .lg-margin-bottom_xs {
    margin-bottom: 0.5em;
  }
  .lg-margin-bottom_sm {
    margin-bottom: 1em;
  }
  .lg-margin-bottom_md {
    margin-bottom: 3em;
  }
  .lg-margin-bottom_lg {
    margin-bottom: 5em;
  }
  .lg-margin-right_xs {
    margin-right: 0.5em;
  }
  .lg-margin-right_sm {
    margin-right: 1em;
  }
  .lg-margin-right_md {
    margin-right: 3em;
  }
  .lg-margin-right_lg {
    margin-right: 5em;
  }

  /* BORDER RADIUS */
  .lg-border-radius_xs {
    border-radius: 3px;
  }
  .lg-border-radius_sm {
    border-radius: 5px;
  }
  .lg-border-radius_md {
    border-radius: 15px;
  }
  .lg-border-radius_lg {
    border-radius: 45px;
  }

  /* COVER SETTINGS */
  .cover {
    width: 100%;
    height: 100VH;
  }
  .cover-image {
    width: 100%;
    height: 100VH;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .cover-small {
    width: 100%;
    height: 50VH;
  }
  .cover-image-small {
    width: 100%;
    height: 50VH;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* GRID CONTAINER SETTINGS */
  .grid {
    max-width: 1124px;
    display: block;
    margin: auto;
    width: 85%;
  }
  .grid-full {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* GRID UNIT SETTINGS */
  .unit {
    display: inline-block;
    margin-left: 0.85%;
    margin-right: 0.85%;
    vertical-align: top;
  }

  /* SM-16 */
  .sm-1-16 {
    width: 4.25%;
  }
  .sm-2-16 {
    width: 10.5%
  }
  .sm-3-16 {
    width: 16.75%
  }
  .sm-4-16 {
    width: 23%;
  }
  .sm-5-16 {
    width: 29.25%;
  }
  .sm-6-16 {
    width: 35.5%;
  }
  .sm-7-16 {
    width: 41.75%;
  }
  .sm-8-16 {
    width: 48%;
  }
  .sm-9-16 {
    width: 54.25%
  }
  .sm-10-16 {
    width: 60.5%;
  }
  .sm-11-16 {
    width: 66.75%;
  }
  .sm-12-16 {
    width: 73%;
  }
  .sm-13-16 {
    width: 79.25%;
  }
  .sm-14-16 {
    width: 85.5%
  }
  .sm-15-16 {
    width: 91.75%;
  }
  .sm-16-16 {
    width: 98%;
  }
  .sm-offset-0 {
    margin-left: 0.8%;
  }
  .sm-offset-1-16 {
    margin-left: 6.25%;
  }
  .sm-offset-2-16 {
    margin-left: 12.5%;
  }
  .sm-offset-3-16 {
    margin-left: 18.75%;
  }
  .sm-offset-4-16 {
    margin-left: 25%;
  }
  .sm-offset-5-16 {
    margin-left: 31.25%;
  }
  .sm-offset-6-16 {
    margin-left: 37.5%
  }
  .sm-offset-7-16 {
    margin-left: 43.75%;
  }
  .sm-offset-8-16 {
    margin-left: 50%;
  }
  .sm-offset-9-16 {
    margin-left: 56.25%;
  }
  .sm-offset-11-16 {
    margin-left: 68.75%;
  }
  .sm-offset-12-16 {
    margin-left: 75%;
  }
  .sm-offset-13-16 {
    margin-left: 81.25%;
  }
  .sm-offset-14-16 {
    margin-left: 87.5%;
  }
  .sm-offset-15-16 {
    margin-left: 93.75%;
  }
  /* SM-12 */
  .sm-1-12 {
    width: 6.3%;
  }
  .sm-2-12 {
    width: 14.6%;
  }
  .sm-3-12 {
    width: 23%;
  }
  .sm-4-12 {
    width: 31.3%;
  }
  .sm-5-12 {
    width: 39.6%
  }
  .sm-6-12 {
    width: 48%;
  }
  .sm-7-12 {
    width: 56.3%;
  }
  .sm-8-12 {
    width: 64.6%
  }
  .sm-9-12 {
    width: 73%;
  }
  .sm-10-12 {
    width: 81.3%;
  }
  .sm-11-12 {
    width: 89.6%;
  }
  .sm-12-12 {
    width: 98%;
  }
  .sm-offset-1-12 {
    margin-left: 8.3%;
  }
  .sm-offset-2-12 {
    margin-left: 16.6%;
  }
  .sm-offset-3-12 {
    margin-left: 25%;
  }
  .sm-offset-4-12 {
    margin-left: 33.3%;
  }
  .sm-offset-5-12 {
    margin-left: 41.6%;
  }
  .sm-offset-6-12 {
    margin-left: 50%;
  }
  .sm-offset-7-12 {
    margin-left: 58.3%;
  }
  .sm-offset-8-12 {
    margin-left: 66.6%;
  }
  .sm-offset-9-12 {
    margin-left: 75%;
  }
  .sm-offset-10-12 {
    margin-left: 83.3%;
  }
  .sm-offset-11-12 {
    margin-left: 91.6%;
  }
  /* SM-8 */
  .sm-1-8 {
    width: 10.5%;
  }
  .sm-2-8 {
    width: 23%;
  }
  .sm-3-8 {
    width: 35.5%;
  }
  .sm-4-8 {
    width: 48%;
  }
  .sm-5-8 {
    width: 58.5%;
  }
  .sm-6-8 {
    width: 73%;
  }
  .sm-7-8 {
    width: 85.5%
  }
  .sm-8-8 {
    width: 98%;
  }
  .sm-offset-1-8 {
    margin-left: 12.5%;
  }
  .sm-offset-2-8 {
    margin-left: 25%;
  }
  .sm-offset-3-8 {
    margin-left: 37.5%;
  }
  .sm-offset-4-8 {
    margin-left: 50%;
  }
  .sm-offset-5-8 {
    margin-left: 62.5%;
  }
  .sm-offset-6-8 {
    margin-left: 75%;
  }
  .sm-offset-7-8 {
    margin-left: 87.5%;
  }
  /* SM-6 */
  .sm-1-6 {
    width: 14.6%;
  }
  .sm-2-6 {
    width: 31.3%;
  }
  .sm-3-6 {
    width: 48%;
  }
  .sm-4-6 {
    width: 64.6%;
  }
  .sm-5-6 {
    width: 81.3%;
  }
  .sm-6-6 {
    width: 98%;
  }
  .sm-offset-1-6 {
    margin-left: 16.6%;
  }
  .sm-offset-2-6 {
    margin-left: 33.3%;
  }
  .sm-offset-3-6 {
    margin-left: 50%;
  }
  .sm-offset-4-6 {
    margin-left: 66.6%;
  }
  .sm-offset-5-6 {
    margin-left: 83.3%;
  }
  /* SM-4 */
  .sm-1-4 {
    width: 23%;
  }
  .sm-2-4 {
    width: 48%;
  }
  .sm-3-4 {
    width: 73%;
  }
  .sm-4-4 {
    width: 98%;
  }
  .sm-offset-1-4 {
    margin-left: 25%;
  }
  .sm-offset-2-4 {
    margin-left: 50%;
  }
  .sm-offset-3-4 {
    margin-left: 75%;
  }
  /* SM-3 */
  .sm-1-3 {
    width: 31.3%;
  }
  .sm-2-3 {
    width: 64.6%;
  }
  .sm-3-3 {
    width: 98%;
  }
  .sm-offset-1-3 {
    margin-left: 33.3%;
  }
  .sm-offset-2-3 {
    margin-left: 66.6%;
  }
  /* SM-2 */
  .sm-1-2 {
    width: 48%;
  }
  .sm-2-2 {
    width: 98%;
  }
  .sm-offset-1-2 {
    margin-left: 50%;
  }
  /* SM-1 */
  .sm-1 {
    width: 98%;
  }

  /* LG-16 */
  .lg-1-16 {
    width: 4.25%;
  }
  .lg-2-16 {
    width: 10.5%
  }
  .lg-3-16 {
    width: 16.75%
  }
  .lg-4-16 {
    width: 23%;
  }
  .lg-5-16 {
    width: 29.25%;
  }
  .lg-6-16 {
    width: 35.5%;
  }
  .lg-7-16 {
    width: 41.75%;
  }
  .lg-8-16 {
    width: 48%;
  }
  .lg-9-16 {
    width: 54.25%
  }
  .lg-10-16 {
    width: 60.5%;
  }
  .lg-11-16 {
    width: 66.75%;
  }
  .lg-12-16 {
    width: 73%;
  }
  .lg-13-16 {
    width: 79.25%;
  }
  .lg-14-16 {
    width: 85.5%
  }
  .lg-15-16 {
    width: 91.75%;
  }
  .lg-16-16 {
    width: 98%;
  }
  .lg-offset-0 {
    margin-left: 0.8%;
  }
  .lg-offset-1-16 {
    margin-left: 6.25%;
  }
  .lg-offset-2-16 {
    margin-left: 12.5%;
  }
  .lg-offset-3-16 {
    margin-left: 18.75%;
  }
  .lg-offset-4-16 {
    margin-left: 25%;
  }
  .lg-offset-5-16 {
    margin-left: 31.25%;
  }
  .lg-offset-6-16 {
    margin-left: 37.5%
  }
  .lg-offset-7-16 {
    margin-left: 43.75%;
  }
  .lg-offset-8-16 {
    margin-left: 50%;
  }
  .lg-offset-9-16 {
    margin-left: 56.25%;
  }
  .lg-offset-11-16 {
    margin-left: 68.75%;
  }
  .lg-offset-12-16 {
    margin-left: 75%;
  }
  .lg-offset-13-16 {
    margin-left: 81.25%;
  }
  .lg-offset-14-16 {
    margin-left: 87.5%;
  }
  .lg-offset-15-16 {
    margin-left: 93.75%;
  }
  /* LG-12 */
  .lg-1-12 {
    width: 6.3%;
  }
  .lg-2-12 {
    width: 14.6%;
  }
  .lg-3-12 {
    width: 23%;
  }
  .lg-4-12 {
    width: 31.3%;
  }
  .lg-5-12 {
    width: 39.6%
  }
  .lg-6-12 {
    width: 48%;
  }
  .lg-7-12 {
    width: 56.3%;
  }
  .lg-8-12 {
    width: 64.6%
  }
  .lg-9-12 {
    width: 73%;
  }
  .lg-10-12 {
    width: 81.3%;
  }
  .lg-11-12 {
    width: 89.6%;
  }
  .lg-12-12 {
    width: 98%;
  }
  .lg-offset-1-12 {
    margin-left: 8.3%;
  }
  .lg-offset-2-12 {
    margin-left: 16.6%;
  }
  .lg-offset-3-12 {
    margin-left: 25%;
  }
  .lg-offset-4-12 {
    margin-left: 33.3%;
  }
  .lg-offset-5-12 {
    margin-left: 41.6%;
  }
  .lg-offset-6-12 {
    margin-left: 50%;
  }
  .lg-offset-7-12 {
    margin-left: 58.3%;
  }
  .lg-offset-8-12 {
    margin-left: 66.6%;
  }
  .lg-offset-9-12 {
    margin-left: 75%;
  }
  .lg-offset-10-12 {
    margin-left: 83.3%;
  }
  .lg-offset-11-12 {
    margin-left: 91.6%;
  }
  /* LG-8 */
  .lg-1-8 {
    width: 10.5%;
  }
  .lg-2-8 {
    width: 23%;
  }
  .lg-3-8 {
    width: 35.5%;
  }
  .lg-4-8 {
    width: 48%;
  }
  .lg-5-8 {
    width: 58.5%;
  }
  .lg-6-8 {
    width: 73%;
  }
  .lg-7-8 {
    width: 85.5%
  }
  .lg-8-8 {
    width: 98%;
  }
  .lg-offset-1-8 {
    margin-left: 12.5%;
  }
  .lg-offset-2-8 {
    margin-left: 25%;
  }
  .lg-offset-3-8 {
    margin-left: 37.5%;
  }
  .lg-offset-4-8 {
    margin-left: 50%;
  }
  .lg-offset-5-8 {
    margin-left: 62.5%;
  }
  .lg-offset-6-8 {
    margin-left: 75%;
  }
  .lg-offset-7-8 {
    margin-left: 87.5%;
  }
  /* SM-6 */
  .lg-1-6 {
    width: 14.6%;
  }
  .lg-2-6 {
    width: 31.3%;
  }
  .lg-3-6 {
    width: 48%;
  }
  .lg-4-6 {
    width: 64.6%;
  }
  .lg-5-6 {
    width: 81.3%;
  }
  .lg-6-6 {
    width: 98%;
  }
  .lg-offset-1-6 {
    margin-left: 16.6%;
  }
  .lg-offset-2-6 {
    margin-left: 33.3%;
  }
  .lg-offset-3-6 {
    margin-left: 50%;
  }
  .lg-offset-4-6 {
    margin-left: 66.6%;
  }
  .lg-offset-5-6 {
    margin-left: 83.3%;
  }
  /* SM-4 */
  .lg-1-4 {
    width: 23%;
  }
  .lg-2-4 {
    width: 48%;
  }
  .lg-3-4 {
    width: 73%;
  }
  .lg-4-4 {
    width: 98%;
  }
  .lg-offset-1-4 {
    margin-left: 25%;
  }
  .lg-offset-2-4 {
    margin-left: 50%;
  }
  .lg-offset-3-4 {
    margin-left: 75%;
  }
  /* SM-3 */
  .lg-1-3 {
    width: 31.3%;
  }
  .lg-2-3 {
    width: 64.6%;
  }
  .lg-3-3 {
    width: 98%;
  }
  .lg-offset-1-3 {
    margin-left: 33.3%;
  }
  .lg-offset-2-3 {
    margin-left: 66.6%;
  }
  /* SM-2 */
  .lg-1-2 {
    width: 48%;
  }
  .lg-2-2 {
    width: 98%;
  }
  .lg-offset-1-2 {
    margin-left: 50%;
  }
  /* SM-1 */
  .lg-1 {
    width: 98%;
  }

}






/* LAPTOP */
@media screen and (max-width: 1224px) and (min-width: 991px) {



}





/* TABLET */
@media screen and (max-width: 990px) and (min-width: 481px) {



}





/* MOBILE */
@media screen and (max-width: 480px) {



}
