/* MODULES */
/* THEME */
/* SET DEFAULT COLORS AND STYLES */
/* line 11, scss/theme.scss */
.base-bg {
  background-color: #3399ff;
}

/* line 14, scss/theme.scss */
.base {
  color: #3399ff;
}

/* line 17, scss/theme.scss */
.accent-bg {
  background-color: white;
}

/* line 20, scss/theme.scss */
.accent {
  color: white;
}

/* line 23, scss/theme.scss */
.light-bg {
  background-color: #aaaaaa;
}

/* line 26, scss/theme.scss */
.light {
  color: #aaaaaa;
}

/* MONITOR (LG) */
/* DESKTOP (LG) */
@media screen and (max-width: 1824px) and (min-width: 1225px) {
  /* NAVIGATION BAR, NAVIGATION LAYOUT */
  /* line 23, scss/modules.scss */
  .navbar-initial {
    height: 7em;
    padding: 1em;
    background-color: white;
    transition: height 0.5s ease, padding 0.5s ease, background-color 0.5s ease;
  }
  /* line 28, scss/modules.scss */
  .navbar-initial a {
    color: #3399ff;
    transition: color 0.5s ease;
  }

  /* line 33, scss/modules.scss */
  nav {
    height: 5em;
    width: 100%;
    z-index: 10000;
    transition: height 0.5s ease, padding 0.5s ease, background-color 0.5s ease;
  }
  /* line 38, scss/modules.scss */
  nav a {
    transition: color 0.5s ease;
  }

  /* line 42, scss/modules.scss */
  .nav-shadow {
    box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.7);
  }

  /* line 45, scss/modules.scss */
  .navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
  }

  /* line 50, scss/modules.scss */
  .nav-center {
    width: 33%;
    margin: auto;
    display: block;
  }

  /* line 55, scss/modules.scss */
  .nav-left {
    width: 33%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin-left: 3em;
  }

  /* line 63, scss/modules.scss */
  .nav-right {
    width: 33%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    margin-right: 3em;
  }

  /* line 71, scss/modules.scss */
  .nav-links {
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  /* line 77, scss/modules.scss */
  .nav-links li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
  }

  /* line 82, scss/modules.scss */
  .nav-header {
    font-size: 48px;
    font-family: "Merienda";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* TEXT CLASSES */
  /* line 93, scss/modules.scss */
  .text-center {
    text-align: center;
  }

  /* line 96, scss/modules.scss */
  .text-left {
    text-align: left;
  }

  /* line 99, scss/modules.scss */
  .text-right {
    text-align: right;
  }

  /* BUTTONS */
  /* line 104, scss/modules.scss */
  .lg-btn_xs {
    padding: 0.15em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 109, scss/modules.scss */
  .lg-btn_xs:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 112, scss/modules.scss */
  .lg-btn_sm {
    padding: 0.25em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 117, scss/modules.scss */
  .lg-btn_sm:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 120, scss/modules.scss */
  .lg-btn_md {
    padding: 0.5em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 125, scss/modules.scss */
  .lg-btn_md:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 128, scss/modules.scss */
  .lg-btn_lg {
    padding: 0.75em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 133, scss/modules.scss */
  .lg-btn_lg:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 136, scss/modules.scss */
  .lg-btn_lg {
    padding: 0.75em;
    font-size: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 141, scss/modules.scss */
  .lg-btn_lg:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* line 144, scss/modules.scss */
  .base-btn {
    background-color: #3399ff;
    color: white;
    border: 2px solid white;
  }

  /* line 149, scss/modules.scss */
  .base-btn:hover {
    background-color: white;
    color: #3399ff;
    cursor: pointer;
  }

  /* CUSTOM ANGLES */
  /* line 230, scss/modules.scss */
  .lg-angled-top-left {
    position: relative;
    z-index: 1;
  }
  /* line 162, scss/modules.scss */
  .lg-angled-top-left:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }
  /* line 175, scss/modules.scss */
  .lg-angled-top-left:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  /* line 233, scss/modules.scss */
  .lg-angled-top-right {
    position: relative;
    z-index: 1;
  }
  /* line 162, scss/modules.scss */
  .lg-angled-top-right:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }
  /* line 175, scss/modules.scss */
  .lg-angled-top-right:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0;
  }

  /* line 236, scss/modules.scss */
  .lg-angled-bottom-right {
    position: relative;
    z-index: 1;
  }
  /* line 162, scss/modules.scss */
  .lg-angled-bottom-right:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }
  /* line 189, scss/modules.scss */
  .lg-angled-bottom-right:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
  }

  /* line 239, scss/modules.scss */
  .lg-angled-bottom-left {
    position: relative;
    z-index: 1;
  }
  /* line 162, scss/modules.scss */
  .lg-angled-bottom-left:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
  }
  /* line 189, scss/modules.scss */
  .lg-angled-bottom-left:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%;
  }

  /* SHADOW SETTINGS */
  /* line 244, scss/modules.scss */
  .lg-inset-shadow-bottom_xs {
    box-shadow: inset 0px -5px 30px 0px rgba(50, 50, 50, 0.7);
  }

  /* line 247, scss/modules.scss */
  .lg-inset-shadow-bottom_sm {
    box-shadow: inset 0px -15px 40px 0px rgba(50, 50, 50, 0.7);
  }

  /* line 250, scss/modules.scss */
  .lg-inset-shadow-bottom_md {
    box-shadow: inset 0px -20px 50px 0px rgba(50, 50, 50, 0.7);
  }

  /* line 253, scss/modules.scss */
  .lg-inset-shadow-bottom_lg {
    box-shadow: inset 0px -25px 50px 0px rgba(50, 50, 50, 0.7);
  }

  /* line 256, scss/modules.scss */
  .lg-inset-shadow-top_xs {
    box-shadow: inset 0px -5px 30px 0px rgba(50, 50, 50, 0.7);
  }

  /* line 259, scss/modules.scss */
  .lg-inset-shadow-top_sm {
    box-shadow: inset 0px 15px 40px 0px rgba(50, 50, 50, 0.7);
  }

  /* line 262, scss/modules.scss */
  .lg-inset-shadow-top_md {
    box-shadow: inset 0px 20px 50px 0px rgba(50, 50, 50, 0.7);
  }

  /* line 265, scss/modules.scss */
  .lg-inset-shadow-top_lg {
    box-shadow: inset 0px 25px 50px 0px rgba(50, 50, 50, 0.7);
  }

  /* line 268, scss/modules.scss */
  .lg-inset-shadow_xs {
    box-shadow: inset 0px 1px 90px -14px rgba(0, 0, 0, 0.75);
  }

  /* line 271, scss/modules.scss */
  .lg-inset-shadow_sm {
    box-shadow: inset 0px 2px 100px -14px rgba(0, 0, 0, 0.75);
  }

  /* line 274, scss/modules.scss */
  .lg-inset-shadow_md {
    box-shadow: inset 0px 2px 111px -14px rgba(0, 0, 0, 0.75);
  }

  /* line 277, scss/modules.scss */
  .lg-inset-shadow_lg {
    box-shadow: inset 0px 2px 187px 11px rgba(0, 0, 0, 0.75);
  }

  /* DISPLAY SETTINGS */
  /* line 282, scss/modules.scss */
  .lg-block {
    display: block;
  }

  /* line 285, scss/modules.scss */
  .lg-inline-block {
    display: inline-block;
  }

  /* line 288, scss/modules.scss */
  .lg-inline {
    display: inline;
  }

  /* ALIGNMENT */
  /* line 293, scss/modules.scss */
  .lg-vertical-align {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
  }

  /* ICON SIZES */
  /* line 300, scss/modules.scss */
  .lg-icon_xs {
    font-size: 24px;
  }

  /* line 303, scss/modules.scss */
  .lg-icon_sm {
    font-size: 48px;
  }

  /* line 306, scss/modules.scss */
  .lg-icon_md {
    font-size: 56px;
  }

  /* line 309, scss/modules.scss */
  .lg-icon_lg {
    font-size: 96px;
  }

  /* SPACERS */
  /* line 314, scss/modules.scss */
  .lg-spacer_xs {
    height: 0;
    color: none;
    background-color: none;
    width: 100%;
    height: 1em;
  }

  /* line 321, scss/modules.scss */
  .lg-spacer_sm {
    height: 0;
    color: none;
    background-color: none;
    width: 100%;
    height: 3em;
  }

  /* line 328, scss/modules.scss */
  .lg-spacer_md {
    height: 0;
    color: none;
    background-color: none;
    width: 100%;
    height: 7em;
  }

  /* line 335, scss/modules.scss */
  .lg-spacer_lg {
    height: 0;
    color: none;
    background-color: none;
    width: 100%;
    height: 10em;
  }

  /* DIVIDERS */
  /* line 344, scss/modules.scss */
  .lg-divider_xs {
    width: 3em;
    margin: auto;
    display: block;
    height: 3px;
  }

  /* line 350, scss/modules.scss */
  .lg-divider_sm {
    width: 5em;
    margin: auto;
    display: block;
    height: 3px;
  }

  /* line 356, scss/modules.scss */
  .lg-divider_md {
    width: 10em;
    margin: auto;
    display: block;
    height: 3px;
  }

  /* line 362, scss/modules.scss */
  .lg-divider_lg {
    width: 20em;
    margin: auto;
    display: block;
    height: 3px;
  }

  /* RULER DIVIDERS */
  /* line 370, scss/modules.scss */
  .lg-ruler-divider_xs {
    width: 45%;
    margin: auto;
    display: block;
    height: 1px;
  }

  /* line 376, scss/modules.scss */
  .lg-ruler-divider_sm {
    width: 65%;
    margin: auto;
    display: block;
    height: 1px;
  }

  /* line 382, scss/modules.scss */
  .lg-ruler-divider_md {
    width: 90%;
    margin: auto;
    display: block;
    height: 1px;
  }

  /* line 388, scss/modules.scss */
  .lg-ruler-divider_lg {
    width: 100%;
    margin: auto;
    display: block;
    height: 1px;
    filter: opacity(0.5);
  }

  /* PADDING */
  /* line 397, scss/modules.scss */
  .lg-no-padding {
    padding: 0;
  }

  /* line 400, scss/modules.scss */
  .lg-padding_xs {
    padding: 0.5em;
  }

  /* line 403, scss/modules.scss */
  .lg-padding_sm {
    padding: 1em;
  }

  /* line 406, scss/modules.scss */
  .lg-padding_md {
    padding: 3em;
  }

  /* line 409, scss/modules.scss */
  .lg-padding_lg {
    padding: 5em;
  }

  /* line 412, scss/modules.scss */
  .lg-padding-top_xs {
    padding-top: 0.5em;
  }

  /* line 415, scss/modules.scss */
  .lg-padding-top_sm {
    padding-top: 1em;
  }

  /* line 418, scss/modules.scss */
  .lg-padding-top_md {
    padding-top: 3em;
  }

  /* line 421, scss/modules.scss */
  .lg-padding-top_lg {
    padding-top: 5em;
  }

  /* line 424, scss/modules.scss */
  .lg-padding-left_xs {
    padding-left: 0.5em;
  }

  /* line 427, scss/modules.scss */
  .lg-padding-left_sm {
    padding-left: 1em;
  }

  /* line 430, scss/modules.scss */
  .lg-padding-left_md {
    padding-left: 3em;
  }

  /* line 433, scss/modules.scss */
  .lg-padding-left_lg {
    padding-left: 5em;
  }

  /* line 436, scss/modules.scss */
  .lg-padding-bottom_xs {
    padding-bottom: 0.5em;
  }

  /* line 439, scss/modules.scss */
  .lg-padding-bottom_sm {
    padding-bottom: 1em;
  }

  /* line 442, scss/modules.scss */
  .lg-padding-bottom_md {
    padding-bottom: 3em;
  }

  /* line 445, scss/modules.scss */
  .lg-padding-bottom_lg {
    padding-bottom: 5em;
  }

  /* line 448, scss/modules.scss */
  .lg-padding-right_xs {
    padding-right: 0.5em;
  }

  /* line 451, scss/modules.scss */
  .lg-padding-right_sm {
    padding-right: 1em;
  }

  /* line 454, scss/modules.scss */
  .lg-padding-right_md {
    padding-right: 3em;
  }

  /* line 457, scss/modules.scss */
  .lg-padding-right_lg {
    padding-right: 5em;
  }

  /* MARGIN */
  /* line 462, scss/modules.scss */
  .lg-no-margin {
    margin: 0;
  }

  /* line 465, scss/modules.scss */
  .lg-margin-auto {
    margin: auto;
  }

  /* line 468, scss/modules.scss */
  .lg-margin_xs {
    margin: 0.5em;
  }

  /* line 471, scss/modules.scss */
  .lg-margin_sm {
    margin: 1em;
  }

  /* line 474, scss/modules.scss */
  .lg-margin_md {
    margin: 3em;
  }

  /* line 477, scss/modules.scss */
  .lg-margin_lg {
    margin: 5em;
  }

  /* line 480, scss/modules.scss */
  .lg-margin-top_xs {
    margin-top: 0.5em;
  }

  /* line 483, scss/modules.scss */
  .lg-margin-top_sm {
    margin-top: 1em;
  }

  /* line 486, scss/modules.scss */
  .lg-margin-top_md {
    margin-top: 3em;
  }

  /* line 489, scss/modules.scss */
  .lg-margin-top_lg {
    margin-top: 5em;
  }

  /* line 492, scss/modules.scss */
  .lg-margin-left_xs {
    margin-left: 0.5em;
  }

  /* line 495, scss/modules.scss */
  .lg-margin-left_sm {
    margin-left: 1em;
  }

  /* line 498, scss/modules.scss */
  .lg-margin-left_md {
    margin-left: 3em;
  }

  /* line 501, scss/modules.scss */
  .lg-margin-left_lg {
    margin-left: 5em;
  }

  /* line 504, scss/modules.scss */
  .lg-margin-bottom_xs {
    margin-bottom: 0.5em;
  }

  /* line 507, scss/modules.scss */
  .lg-margin-bottom_sm {
    margin-bottom: 1em;
  }

  /* line 510, scss/modules.scss */
  .lg-margin-bottom_md {
    margin-bottom: 3em;
  }

  /* line 513, scss/modules.scss */
  .lg-margin-bottom_lg {
    margin-bottom: 5em;
  }

  /* line 516, scss/modules.scss */
  .lg-margin-right_xs {
    margin-right: 0.5em;
  }

  /* line 519, scss/modules.scss */
  .lg-margin-right_sm {
    margin-right: 1em;
  }

  /* line 522, scss/modules.scss */
  .lg-margin-right_md {
    margin-right: 3em;
  }

  /* line 525, scss/modules.scss */
  .lg-margin-right_lg {
    margin-right: 5em;
  }

  /* BORDER RADIUS */
  /* line 530, scss/modules.scss */
  .lg-border-radius_xs {
    border-radius: 3px;
  }

  /* line 533, scss/modules.scss */
  .lg-border-radius_sm {
    border-radius: 5px;
  }

  /* line 536, scss/modules.scss */
  .lg-border-radius_md {
    border-radius: 15px;
  }

  /* line 539, scss/modules.scss */
  .lg-border-radius_lg {
    border-radius: 45px;
  }

  /* COVER SETTINGS */
  /* line 544, scss/modules.scss */
  .cover {
    width: 100%;
    height: 100VH;
  }

  /* line 548, scss/modules.scss */
  .cover-image {
    width: 100%;
    height: 100VH;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  /* line 555, scss/modules.scss */
  .cover-small {
    width: 100%;
    height: 50VH;
  }

  /* line 559, scss/modules.scss */
  .cover-image-small {
    width: 100%;
    height: 50VH;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* GRID CONTAINER SETTINGS */
  /* line 568, scss/modules.scss */
  .grid {
    max-width: 1124px;
    display: block;
    margin: auto;
    width: 85%;
  }

  /* line 574, scss/modules.scss */
  .grid-full {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* GRID UNIT SETTINGS */
  /* line 581, scss/modules.scss */
  .unit {
    display: inline-block;
    margin-left: 0.85%;
    margin-right: 0.85%;
    vertical-align: top;
  }

  /* SM-16 */
  /* line 589, scss/modules.scss */
  .sm-1-16 {
    width: 4.25%;
  }

  /* line 592, scss/modules.scss */
  .sm-2-16 {
    width: 10.5%;
  }

  /* line 595, scss/modules.scss */
  .sm-3-16 {
    width: 16.75%;
  }

  /* line 598, scss/modules.scss */
  .sm-4-16 {
    width: 23%;
  }

  /* line 601, scss/modules.scss */
  .sm-5-16 {
    width: 29.25%;
  }

  /* line 604, scss/modules.scss */
  .sm-6-16 {
    width: 35.5%;
  }

  /* line 607, scss/modules.scss */
  .sm-7-16 {
    width: 41.75%;
  }

  /* line 610, scss/modules.scss */
  .sm-8-16 {
    width: 48%;
  }

  /* line 613, scss/modules.scss */
  .sm-9-16 {
    width: 54.25%;
  }

  /* line 616, scss/modules.scss */
  .sm-10-16 {
    width: 60.5%;
  }

  /* line 619, scss/modules.scss */
  .sm-11-16 {
    width: 66.75%;
  }

  /* line 622, scss/modules.scss */
  .sm-12-16 {
    width: 73%;
  }

  /* line 625, scss/modules.scss */
  .sm-13-16 {
    width: 79.25%;
  }

  /* line 628, scss/modules.scss */
  .sm-14-16 {
    width: 85.5%;
  }

  /* line 631, scss/modules.scss */
  .sm-15-16 {
    width: 91.75%;
  }

  /* line 634, scss/modules.scss */
  .sm-16-16 {
    width: 98%;
  }

  /* line 637, scss/modules.scss */
  .sm-offset-0 {
    margin-left: 0.8%;
  }

  /* line 640, scss/modules.scss */
  .sm-offset-1-16 {
    margin-left: 6.25%;
  }

  /* line 643, scss/modules.scss */
  .sm-offset-2-16 {
    margin-left: 12.5%;
  }

  /* line 646, scss/modules.scss */
  .sm-offset-3-16 {
    margin-left: 18.75%;
  }

  /* line 649, scss/modules.scss */
  .sm-offset-4-16 {
    margin-left: 25%;
  }

  /* line 652, scss/modules.scss */
  .sm-offset-5-16 {
    margin-left: 31.25%;
  }

  /* line 655, scss/modules.scss */
  .sm-offset-6-16 {
    margin-left: 37.5%;
  }

  /* line 658, scss/modules.scss */
  .sm-offset-7-16 {
    margin-left: 43.75%;
  }

  /* line 661, scss/modules.scss */
  .sm-offset-8-16 {
    margin-left: 50%;
  }

  /* line 664, scss/modules.scss */
  .sm-offset-9-16 {
    margin-left: 56.25%;
  }

  /* line 667, scss/modules.scss */
  .sm-offset-11-16 {
    margin-left: 68.75%;
  }

  /* line 670, scss/modules.scss */
  .sm-offset-12-16 {
    margin-left: 75%;
  }

  /* line 673, scss/modules.scss */
  .sm-offset-13-16 {
    margin-left: 81.25%;
  }

  /* line 676, scss/modules.scss */
  .sm-offset-14-16 {
    margin-left: 87.5%;
  }

  /* line 679, scss/modules.scss */
  .sm-offset-15-16 {
    margin-left: 93.75%;
  }

  /* SM-12 */
  /* line 683, scss/modules.scss */
  .sm-1-12 {
    width: 6.3%;
  }

  /* line 686, scss/modules.scss */
  .sm-2-12 {
    width: 14.6%;
  }

  /* line 689, scss/modules.scss */
  .sm-3-12 {
    width: 23%;
  }

  /* line 692, scss/modules.scss */
  .sm-4-12 {
    width: 31.3%;
  }

  /* line 695, scss/modules.scss */
  .sm-5-12 {
    width: 39.6%;
  }

  /* line 698, scss/modules.scss */
  .sm-6-12 {
    width: 48%;
  }

  /* line 701, scss/modules.scss */
  .sm-7-12 {
    width: 56.3%;
  }

  /* line 704, scss/modules.scss */
  .sm-8-12 {
    width: 64.6%;
  }

  /* line 707, scss/modules.scss */
  .sm-9-12 {
    width: 73%;
  }

  /* line 710, scss/modules.scss */
  .sm-10-12 {
    width: 81.3%;
  }

  /* line 713, scss/modules.scss */
  .sm-11-12 {
    width: 89.6%;
  }

  /* line 716, scss/modules.scss */
  .sm-12-12 {
    width: 98%;
  }

  /* line 719, scss/modules.scss */
  .sm-offset-1-12 {
    margin-left: 8.3%;
  }

  /* line 722, scss/modules.scss */
  .sm-offset-2-12 {
    margin-left: 16.6%;
  }

  /* line 725, scss/modules.scss */
  .sm-offset-3-12 {
    margin-left: 25%;
  }

  /* line 728, scss/modules.scss */
  .sm-offset-4-12 {
    margin-left: 33.3%;
  }

  /* line 731, scss/modules.scss */
  .sm-offset-5-12 {
    margin-left: 41.6%;
  }

  /* line 734, scss/modules.scss */
  .sm-offset-6-12 {
    margin-left: 50%;
  }

  /* line 737, scss/modules.scss */
  .sm-offset-7-12 {
    margin-left: 58.3%;
  }

  /* line 740, scss/modules.scss */
  .sm-offset-8-12 {
    margin-left: 66.6%;
  }

  /* line 743, scss/modules.scss */
  .sm-offset-9-12 {
    margin-left: 75%;
  }

  /* line 746, scss/modules.scss */
  .sm-offset-10-12 {
    margin-left: 83.3%;
  }

  /* line 749, scss/modules.scss */
  .sm-offset-11-12 {
    margin-left: 91.6%;
  }

  /* SM-8 */
  /* line 753, scss/modules.scss */
  .sm-1-8 {
    width: 10.5%;
  }

  /* line 756, scss/modules.scss */
  .sm-2-8 {
    width: 23%;
  }

  /* line 759, scss/modules.scss */
  .sm-3-8 {
    width: 35.5%;
  }

  /* line 762, scss/modules.scss */
  .sm-4-8 {
    width: 48%;
  }

  /* line 765, scss/modules.scss */
  .sm-5-8 {
    width: 58.5%;
  }

  /* line 768, scss/modules.scss */
  .sm-6-8 {
    width: 73%;
  }

  /* line 771, scss/modules.scss */
  .sm-7-8 {
    width: 85.5%;
  }

  /* line 774, scss/modules.scss */
  .sm-8-8 {
    width: 98%;
  }

  /* line 777, scss/modules.scss */
  .sm-offset-1-8 {
    margin-left: 12.5%;
  }

  /* line 780, scss/modules.scss */
  .sm-offset-2-8 {
    margin-left: 25%;
  }

  /* line 783, scss/modules.scss */
  .sm-offset-3-8 {
    margin-left: 37.5%;
  }

  /* line 786, scss/modules.scss */
  .sm-offset-4-8 {
    margin-left: 50%;
  }

  /* line 789, scss/modules.scss */
  .sm-offset-5-8 {
    margin-left: 62.5%;
  }

  /* line 792, scss/modules.scss */
  .sm-offset-6-8 {
    margin-left: 75%;
  }

  /* line 795, scss/modules.scss */
  .sm-offset-7-8 {
    margin-left: 87.5%;
  }

  /* SM-6 */
  /* line 799, scss/modules.scss */
  .sm-1-6 {
    width: 14.6%;
  }

  /* line 802, scss/modules.scss */
  .sm-2-6 {
    width: 31.3%;
  }

  /* line 805, scss/modules.scss */
  .sm-3-6 {
    width: 48%;
  }

  /* line 808, scss/modules.scss */
  .sm-4-6 {
    width: 64.6%;
  }

  /* line 811, scss/modules.scss */
  .sm-5-6 {
    width: 81.3%;
  }

  /* line 814, scss/modules.scss */
  .sm-6-6 {
    width: 98%;
  }

  /* line 817, scss/modules.scss */
  .sm-offset-1-6 {
    margin-left: 16.6%;
  }

  /* line 820, scss/modules.scss */
  .sm-offset-2-6 {
    margin-left: 33.3%;
  }

  /* line 823, scss/modules.scss */
  .sm-offset-3-6 {
    margin-left: 50%;
  }

  /* line 826, scss/modules.scss */
  .sm-offset-4-6 {
    margin-left: 66.6%;
  }

  /* line 829, scss/modules.scss */
  .sm-offset-5-6 {
    margin-left: 83.3%;
  }

  /* SM-4 */
  /* line 833, scss/modules.scss */
  .sm-1-4 {
    width: 23%;
  }

  /* line 836, scss/modules.scss */
  .sm-2-4 {
    width: 48%;
  }

  /* line 839, scss/modules.scss */
  .sm-3-4 {
    width: 73%;
  }

  /* line 842, scss/modules.scss */
  .sm-4-4 {
    width: 98%;
  }

  /* line 845, scss/modules.scss */
  .sm-offset-1-4 {
    margin-left: 25%;
  }

  /* line 848, scss/modules.scss */
  .sm-offset-2-4 {
    margin-left: 50%;
  }

  /* line 851, scss/modules.scss */
  .sm-offset-3-4 {
    margin-left: 75%;
  }

  /* SM-3 */
  /* line 855, scss/modules.scss */
  .sm-1-3 {
    width: 31.3%;
  }

  /* line 858, scss/modules.scss */
  .sm-2-3 {
    width: 64.6%;
  }

  /* line 861, scss/modules.scss */
  .sm-3-3 {
    width: 98%;
  }

  /* line 864, scss/modules.scss */
  .sm-offset-1-3 {
    margin-left: 33.3%;
  }

  /* line 867, scss/modules.scss */
  .sm-offset-2-3 {
    margin-left: 66.6%;
  }

  /* SM-2 */
  /* line 871, scss/modules.scss */
  .sm-1-2 {
    width: 48%;
  }

  /* line 874, scss/modules.scss */
  .sm-2-2 {
    width: 98%;
  }

  /* line 877, scss/modules.scss */
  .sm-offset-1-2 {
    margin-left: 50%;
  }

  /* SM-1 */
  /* line 881, scss/modules.scss */
  .sm-1 {
    width: 98%;
  }

  /* LG-16 */
  /* line 886, scss/modules.scss */
  .lg-1-16 {
    width: 4.25%;
  }

  /* line 889, scss/modules.scss */
  .lg-2-16 {
    width: 10.5%;
  }

  /* line 892, scss/modules.scss */
  .lg-3-16 {
    width: 16.75%;
  }

  /* line 895, scss/modules.scss */
  .lg-4-16 {
    width: 23%;
  }

  /* line 898, scss/modules.scss */
  .lg-5-16 {
    width: 29.25%;
  }

  /* line 901, scss/modules.scss */
  .lg-6-16 {
    width: 35.5%;
  }

  /* line 904, scss/modules.scss */
  .lg-7-16 {
    width: 41.75%;
  }

  /* line 907, scss/modules.scss */
  .lg-8-16 {
    width: 48%;
  }

  /* line 910, scss/modules.scss */
  .lg-9-16 {
    width: 54.25%;
  }

  /* line 913, scss/modules.scss */
  .lg-10-16 {
    width: 60.5%;
  }

  /* line 916, scss/modules.scss */
  .lg-11-16 {
    width: 66.75%;
  }

  /* line 919, scss/modules.scss */
  .lg-12-16 {
    width: 73%;
  }

  /* line 922, scss/modules.scss */
  .lg-13-16 {
    width: 79.25%;
  }

  /* line 925, scss/modules.scss */
  .lg-14-16 {
    width: 85.5%;
  }

  /* line 928, scss/modules.scss */
  .lg-15-16 {
    width: 91.75%;
  }

  /* line 931, scss/modules.scss */
  .lg-16-16 {
    width: 98%;
  }

  /* line 934, scss/modules.scss */
  .lg-offset-0 {
    margin-left: 0.8%;
  }

  /* line 937, scss/modules.scss */
  .lg-offset-1-16 {
    margin-left: 6.25%;
  }

  /* line 940, scss/modules.scss */
  .lg-offset-2-16 {
    margin-left: 12.5%;
  }

  /* line 943, scss/modules.scss */
  .lg-offset-3-16 {
    margin-left: 18.75%;
  }

  /* line 946, scss/modules.scss */
  .lg-offset-4-16 {
    margin-left: 25%;
  }

  /* line 949, scss/modules.scss */
  .lg-offset-5-16 {
    margin-left: 31.25%;
  }

  /* line 952, scss/modules.scss */
  .lg-offset-6-16 {
    margin-left: 37.5%;
  }

  /* line 955, scss/modules.scss */
  .lg-offset-7-16 {
    margin-left: 43.75%;
  }

  /* line 958, scss/modules.scss */
  .lg-offset-8-16 {
    margin-left: 50%;
  }

  /* line 961, scss/modules.scss */
  .lg-offset-9-16 {
    margin-left: 56.25%;
  }

  /* line 964, scss/modules.scss */
  .lg-offset-11-16 {
    margin-left: 68.75%;
  }

  /* line 967, scss/modules.scss */
  .lg-offset-12-16 {
    margin-left: 75%;
  }

  /* line 970, scss/modules.scss */
  .lg-offset-13-16 {
    margin-left: 81.25%;
  }

  /* line 973, scss/modules.scss */
  .lg-offset-14-16 {
    margin-left: 87.5%;
  }

  /* line 976, scss/modules.scss */
  .lg-offset-15-16 {
    margin-left: 93.75%;
  }

  /* LG-12 */
  /* line 980, scss/modules.scss */
  .lg-1-12 {
    width: 6.3%;
  }

  /* line 983, scss/modules.scss */
  .lg-2-12 {
    width: 14.6%;
  }

  /* line 986, scss/modules.scss */
  .lg-3-12 {
    width: 23%;
  }

  /* line 989, scss/modules.scss */
  .lg-4-12 {
    width: 31.3%;
  }

  /* line 992, scss/modules.scss */
  .lg-5-12 {
    width: 39.6%;
  }

  /* line 995, scss/modules.scss */
  .lg-6-12 {
    width: 48%;
  }

  /* line 998, scss/modules.scss */
  .lg-7-12 {
    width: 56.3%;
  }

  /* line 1001, scss/modules.scss */
  .lg-8-12 {
    width: 64.6%;
  }

  /* line 1004, scss/modules.scss */
  .lg-9-12 {
    width: 73%;
  }

  /* line 1007, scss/modules.scss */
  .lg-10-12 {
    width: 81.3%;
  }

  /* line 1010, scss/modules.scss */
  .lg-11-12 {
    width: 89.6%;
  }

  /* line 1013, scss/modules.scss */
  .lg-12-12 {
    width: 98%;
  }

  /* line 1016, scss/modules.scss */
  .lg-offset-1-12 {
    margin-left: 8.3%;
  }

  /* line 1019, scss/modules.scss */
  .lg-offset-2-12 {
    margin-left: 16.6%;
  }

  /* line 1022, scss/modules.scss */
  .lg-offset-3-12 {
    margin-left: 25%;
  }

  /* line 1025, scss/modules.scss */
  .lg-offset-4-12 {
    margin-left: 33.3%;
  }

  /* line 1028, scss/modules.scss */
  .lg-offset-5-12 {
    margin-left: 41.6%;
  }

  /* line 1031, scss/modules.scss */
  .lg-offset-6-12 {
    margin-left: 50%;
  }

  /* line 1034, scss/modules.scss */
  .lg-offset-7-12 {
    margin-left: 58.3%;
  }

  /* line 1037, scss/modules.scss */
  .lg-offset-8-12 {
    margin-left: 66.6%;
  }

  /* line 1040, scss/modules.scss */
  .lg-offset-9-12 {
    margin-left: 75%;
  }

  /* line 1043, scss/modules.scss */
  .lg-offset-10-12 {
    margin-left: 83.3%;
  }

  /* line 1046, scss/modules.scss */
  .lg-offset-11-12 {
    margin-left: 91.6%;
  }

  /* LG-8 */
  /* line 1050, scss/modules.scss */
  .lg-1-8 {
    width: 10.5%;
  }

  /* line 1053, scss/modules.scss */
  .lg-2-8 {
    width: 23%;
  }

  /* line 1056, scss/modules.scss */
  .lg-3-8 {
    width: 35.5%;
  }

  /* line 1059, scss/modules.scss */
  .lg-4-8 {
    width: 48%;
  }

  /* line 1062, scss/modules.scss */
  .lg-5-8 {
    width: 58.5%;
  }

  /* line 1065, scss/modules.scss */
  .lg-6-8 {
    width: 73%;
  }

  /* line 1068, scss/modules.scss */
  .lg-7-8 {
    width: 85.5%;
  }

  /* line 1071, scss/modules.scss */
  .lg-8-8 {
    width: 98%;
  }

  /* line 1074, scss/modules.scss */
  .lg-offset-1-8 {
    margin-left: 12.5%;
  }

  /* line 1077, scss/modules.scss */
  .lg-offset-2-8 {
    margin-left: 25%;
  }

  /* line 1080, scss/modules.scss */
  .lg-offset-3-8 {
    margin-left: 37.5%;
  }

  /* line 1083, scss/modules.scss */
  .lg-offset-4-8 {
    margin-left: 50%;
  }

  /* line 1086, scss/modules.scss */
  .lg-offset-5-8 {
    margin-left: 62.5%;
  }

  /* line 1089, scss/modules.scss */
  .lg-offset-6-8 {
    margin-left: 75%;
  }

  /* line 1092, scss/modules.scss */
  .lg-offset-7-8 {
    margin-left: 87.5%;
  }

  /* SM-6 */
  /* line 1096, scss/modules.scss */
  .lg-1-6 {
    width: 14.6%;
  }

  /* line 1099, scss/modules.scss */
  .lg-2-6 {
    width: 31.3%;
  }

  /* line 1102, scss/modules.scss */
  .lg-3-6 {
    width: 48%;
  }

  /* line 1105, scss/modules.scss */
  .lg-4-6 {
    width: 64.6%;
  }

  /* line 1108, scss/modules.scss */
  .lg-5-6 {
    width: 81.3%;
  }

  /* line 1111, scss/modules.scss */
  .lg-6-6 {
    width: 98%;
  }

  /* line 1114, scss/modules.scss */
  .lg-offset-1-6 {
    margin-left: 16.6%;
  }

  /* line 1117, scss/modules.scss */
  .lg-offset-2-6 {
    margin-left: 33.3%;
  }

  /* line 1120, scss/modules.scss */
  .lg-offset-3-6 {
    margin-left: 50%;
  }

  /* line 1123, scss/modules.scss */
  .lg-offset-4-6 {
    margin-left: 66.6%;
  }

  /* line 1126, scss/modules.scss */
  .lg-offset-5-6 {
    margin-left: 83.3%;
  }

  /* SM-4 */
  /* line 1130, scss/modules.scss */
  .lg-1-4 {
    width: 23%;
  }

  /* line 1133, scss/modules.scss */
  .lg-2-4 {
    width: 48%;
  }

  /* line 1136, scss/modules.scss */
  .lg-3-4 {
    width: 73%;
  }

  /* line 1139, scss/modules.scss */
  .lg-4-4 {
    width: 98%;
  }

  /* line 1142, scss/modules.scss */
  .lg-offset-1-4 {
    margin-left: 25%;
  }

  /* line 1145, scss/modules.scss */
  .lg-offset-2-4 {
    margin-left: 50%;
  }

  /* line 1148, scss/modules.scss */
  .lg-offset-3-4 {
    margin-left: 75%;
  }

  /* SM-3 */
  /* line 1152, scss/modules.scss */
  .lg-1-3 {
    width: 31.3%;
  }

  /* line 1155, scss/modules.scss */
  .lg-2-3 {
    width: 64.6%;
  }

  /* line 1158, scss/modules.scss */
  .lg-3-3 {
    width: 98%;
  }

  /* line 1161, scss/modules.scss */
  .lg-offset-1-3 {
    margin-left: 33.3%;
  }

  /* line 1164, scss/modules.scss */
  .lg-offset-2-3 {
    margin-left: 66.6%;
  }

  /* SM-2 */
  /* line 1168, scss/modules.scss */
  .lg-1-2 {
    width: 48%;
  }

  /* line 1171, scss/modules.scss */
  .lg-2-2 {
    width: 98%;
  }

  /* line 1174, scss/modules.scss */
  .lg-offset-1-2 {
    margin-left: 50%;
  }

  /* SM-1 */
  /* line 1178, scss/modules.scss */
  .lg-1 {
    width: 98%;
  }
}
/* LAPTOP */
/* TABLET */
/* MOBILE */
